/*                       */
/* Base Rules and Resets */
/*                       */

html {
   font-family: Abel, sans-serif;
}
h3, h4 {
   margin: 0;
}
body, div {
   margin: 0;
}
button {
   border: 0;
   border-radius: 0;
   padding: 0;
   background: white;
}
main {
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100vh;
   scroll-behavior: smooth;
   display: block;
}

/*        */
/* Layout */
/*        */

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexSpaceAround {
  justify-content: space-around;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCenter {
  align-items: center;
  justify-content: center;
}
.flex-end {
  align-self: flex-end;
}

nav {
  display: flex;
  width: 49%;
  justify-content: flex-end;
}

#codePortfolio, #writingPortfolio  {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
#contactMe {
   height: 70vh;
   padding-left: 10%;
   padding-right: 10%;
   background-position: center;
   background-image: url("img/avatar2.jpg"),
     linear-gradient(to right, black 0%, lightgrey 25%, lightgrey 75%, black 100%);
   background-size: auto;
   background-repeat: repeat;
   background-blend-mode: screen;
}
#iconContainer {
   width: 65%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.l-full-w {
   width: 100%;
}

.icon {
   width: 35px;
   height: 35px;
}
.sm-icon {
   margin-right: 3px;
   width: 20px;
   height: 20px;
}

.spacer {
   width: 100vw;
   height: 100vh;
}
.small-spacer {
   height: 15vh;
}

/* FIX */
#aboutMe {
   width: 100%;
   height: 70vh;

   font-size: 1.2em;
}
header {
   position: fixed;
   background: white;
   z-index: 999;
   width: 100%;
   height: 10vh;
}


#contact {
   margin-top: 20%;
}
#aboutMe > div {
   justify-content: space-between;
   height: 65%;
   margin-right: 3%;
}
#me {
   width: 35vw;
   height: 35vw;
   max-width: 392px;
   max-height: 392px;
}

/*      */
/* Skin */
/*      */

.blue-h:hover {
   background: lightblue;
}
.yellow-h:hover {
   background: yellow;
}
.border-rounded {
   border-radius: 20%;
}
.border-circle {
   border-radius: 100%;
}
.sans {
   font-family: serif !important;
}
p {
   font-size: 1.3em;
}
h4 {
   color: lightblue;
   font-size: 1.5em;
}



#headerName {
   width: 49%;
   font-size: 2em;
   text-decoration: none;
   color: black;
}
nav a {
   font-size: 1.2em;
   text-decoration: none;
   color: black;
   margin: 1%;
   margin-left: 5%;
}
#intro {
   height: 100vh;
   width: 100vw;
   background-position: center;
   background-image: linear-gradient(to right, black 0%, grey 30%, grey 70%, black 100%),url("img/avatar.jpg");
   background-size: auto;
   background-repeat: repeat;
   background-blend-mode: screen;
   position: relative;
}
#introText {
   width: 450px;
   font-size: 3em;
   padding: 5%;
   background: white;
   opacity: 0.8;
   position: absolute;
   text-align: center;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
}
#introText a {
   color: purple;
   font-weight: 100;
}
#introText a:hover {
  color: blueviolet;
}
#introText span {
   font-family: Barrio, serif;
   color: black;
}
.horizontalLine {
   width: 80%;
   border: 1px darkgrey solid;
   margin-bottom: 3%;
}
.invisible {
   opacity: 0;
   /* transition: all 1s linear; */
   color:white;
}
.invisible:hover {
   opacity: 100;
}
#aboutMeText {
   margin: 2%;
   width: 33vw;
}
h2, h3 {
   text-align: center;
   font-size: 3em;
   font-family: Barrio;
}
h2 {
   margin-top: -10vh;
   padding-top: 10vh;
}
#codePortfolio p, #writingPortfolio p {
   margin-bottom: 2%;
}

.portfolioContainers p {
   text-align: center;
   margin: 10%;
}

#contactMeText {
   /* padding: 5%;
   background: white;
   opacity: 0.8; */
   font-weight: bold;
   font-size: 1.9em;
   width: 45%;
   text-align: center;
}

#edhelper {
   background-image: url("img/ring.png");
}
#checkers {
   background-image: url("img/checkers.png");
}
#doodler {
   background-image: url("img/doodler.png");
}
#prototype {
   background-image: url("img/prototype.png");
}
#dungeonesse {
   background-image: url("img/dungeonesse.jpg");
}
#sunclub {
   background-image: url("img/sunclub.jpg");
}
#kelman {
   background-image: url("img/kelman.jpg");
}
#xlGold {
   background-image: url("img/gold.jpg");
}
.portfolioContainers {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 30vw;
   height: 30vw;
   margin: 1vw;
}
.email {
   text-decoration: none;
   align-items: center;
   color: black;
   font-size: 1.2em;
}
.email img {
   margin-left: 15px;
}

.portfolioContainers:hover {
   background: black !important;
}
.relative {
   position: relative;
   top: -2.5%;
   left: -2.5%;
}
.learnMore {
   text-align: center;
   margin: 4%;
   padding: 1em;
   width: 33%;
   flex-grow: 1;
   font-size: 1.1em;
   background: lightblue;
}
.learnMore:hover {
   background: white;
}

/* Media Queries */

@media only screen and (min-width: 769px) and (max-width: 1000px) {
   body {
      font-size: 0.8em;
   }
  #introText {
    font-size: 3.2em;
  }
}
@media only screen and (max-width: 768px) {
   body {
      font-size: 0.65em;
   }
   .portfolioContainers {
      width: 50vw;
      height: 50vw;
      font-size: 1.2em;
   }
   #aboutMe-sidebar {
      display: none;
   }
}
@media only screen and (max-width: 414px) {
   #aboutMeText {
      width: 50vw;
   }
   .blurb {
     font-size: 2em;
   }
   #contactMeText {
      font-size: 1.6em;
      width: 65%;
   }
   #iconContainer {
     width: 90%;
   }
   #introText {
     width: 58vw;
     font-size: 2.5em;
   }
   .portfolioContainers {
     font-size: 1em;
     width: 70vw;
     height: 70vw;
   }
   #intro {
      background-image: url("img/avatar.jpg");
      background-size: 80vw;
   }
}
