/*                       */
/* Base Rules and Resets */
/*                       */

html {
   font-family: Abel, sans-serif;
}
/* to compensate for fixed header */
h2 {
   margin-top: -10vh;
   padding-top: 10vh;
}
h2, h3 {
   text-align: center;
   font-size: 3em;
   font-family: Barrio;
}
h3, h4 {
   margin: 0;
}
body, div {
   margin: 0;
}
button {
   border: 0;
   border-radius: 0;
   padding: 0;
   background: white;
}
main {
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100vh;
   scroll-behavior: smooth;
   display: block;
}

/*        */
/* Layout */
/*        */

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexSpaceAround {
  justify-content: space-around;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCenter {
  align-items: center;
  justify-content: center;
}
.flex-end {
  align-self: flex-end;
}

.l-full-r {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.l-full-w {
   width: 100%;
}
.l-80w {
  width: 80%;
}
.l-49w {
  width: 49%;
}
.l-45w {
  width: 45%;
}
.l-15vh {
   height: 15vh;
}

.l-left-m-px {
  margin-left: 15px;
}
.l-left-m-pct {
  margin-left: 6%;
}
.l-30vw-m {
  width: 30vw;
  height: 30vw;
  margin: 1vw;
}
.l-padding {
  padding: 5%;
}
.l-70vh-p {
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
}

.icon {
   width: 35px;
   height: 35px;
}
.sm-icon {
   margin-right: 3px;
   width: 20px;
   height: 20px;
}

.relative {
   position: relative;
   top: -2.5%;
   left: -2.5%;
}

.horizontalLine {
   width: 80%;
   border: 1px darkgrey solid;
   margin-bottom: 3%;
}


header {
   position: fixed;
   z-index: 999;
   width: 100%;
   height: 10vh;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 49%;
}
#aboutMe {
   width: 100%;
   height: 70vh;
}
#aboutMeSidebar {
   height: 65%;
   margin-left: 5%;
}
.curve:nth-child(odd) {
  margin-left: -6vw;
}
#me {
   width: 35vw;
   height: 35vw;
   max-width: 392px;
   max-height: 392px;
}
#iconContainer {
   width: 65%;
}
#introText {
   width: 450px;
   padding: 5%;
   position: absolute;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
}
#aboutMeText {
   margin: 2%;
   width: 33vw;
}
.l-learnMore {
  margin: 4%;
  padding: 1em;
  width: 33%;
  flex-grow: 1;
}
#contact {
   margin-top: 20%;
}


/*      */
/* Skin */
/*      */

.white-bg {
  background: white;
}
.blue-h:hover {
   background: lightblue;
}
.yellow-h:hover {
   background: yellow;
}

.border-rounded {
   border-radius: 20%;
}
.border-circle {
   border-radius: 100%;
}

.font-lg {
  font-size: 1.5em;
}
.blurb {
  text-align: center;
  font-size: 1.3em;
}
.sans {
  font-family: sans-serif !important;
}
.portfolioContainers {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.opaque-bg {
  background: white;
  opacity: 0.8;
}

.learnMore {
  text-align: center;
  font-size: 1.1em;
  background: lightblue;
}
#headerName {
  font-size: 2em;
  text-decoration: none;
  color: black;
}
nav a {
   font-size: 1.2em;
   text-decoration: none;
   color: black;
}
#intro {
   background-position: center;
   background-image: linear-gradient(to right, black 0%, grey 30%, grey 70%, black 100%),url("img/avatar.jpg");
   background-size: auto;
   background-repeat: repeat;
   background-blend-mode: screen;
}
#introText {
  font-size: 3em;
  text-align: center;
}
#introText a {
   color: purple;
   font-weight: 100;
}
#introText span {
   font-family: Barrio, serif;
   color: black;
}
h4 {
  color: lightblue;
  font-size: 1.5em;
}
#contactMe {
   background-position: center;
   background-image: url("img/avatar2.jpg"),
     linear-gradient(to right, black 0%, grey 25%, grey 75%, black 100%);
   background-size: auto;
   background-repeat: repeat;
   background-blend-mode: screen;
}
#contactMeText {
   font-weight: bold;
   font-size: 1.9em;
   text-align: center;
}
.email {
  text-decoration: none;
  align-items: center;
  color: black;
  font-size: 1.2em;
}

#edhelper {
   background-image: url("img/ring.png");
}
#checkers {
   background-image: url("img/checkers.png");
}
#doodler {
   background-image: url("img/doodler.png");
}
#prototype {
   background-image: url("img/prototype.png");
}
#dungeonesse {
   background-image: url("img/dungeonesse.jpg");
}
#sunclub {
   background-image: url("img/sunclub.jpg");
}
#kelman {
   background-image: url("img/kelman.jpg");
}
#xlGold {
   background-image: url("img/gold.jpg");
}
#currentWork {
  background-image: url("https://i1.sndcdn.com/avatars-000001197575-ay59wj-t500x500.jpg");
}
#soloAlbums {
  background-image: url("https://f4.bcbits.com/img/a2607752967_16.jpg");
}
#barnyardSharks {
  background-image: url("https://f4.bcbits.com/img/a0984155272_2.jpg");
}

#introText a:hover {
  color: blueviolet;
}
.learnMore:hover {
   background: white;
}
.portfolioContainers:hover {
   background: black !important;
}
.invisible {
   opacity: 0;
   color: white;
}
.invisible:hover {
   opacity: 100;
}


/* Media Queries */

@media only screen and (min-width: 769px) and (max-width: 1000px) {
   body {
      font-size: 0.8em;
   }
  #introText {
    font-size: 3.2em;
  }
}
@media only screen and (max-width: 768px) {
   body {
      font-size: 0.65em;
   }
   .portfolioContainers {
      width: 50vw;
      height: 50vw;
      font-size: 1.2em;
   }
   #aboutMeSidebar {
      display: none;
   }
}
@media only screen and (max-width: 414px) {
   #aboutMeText {
      width: 50vw;
   }
   .blurb {
     font-size: 2em;
   }
   #contactMe {
     background-image: url('img/avatar2.jpg');
   }
   #contactMeText {
     font-size: 1.6em;
     width: 65%;
   }
   #iconContainer {
     width: 90%;
   }
   #introText {
     width: 58vw;
     font-size: 2.5em;
   }
   .portfolioContainers {
     font-size: 1em;
     width: 70vw;
     height: 70vw;
   }
   .hide-for-small {
     display: none;
   }
   #intro {
      background-image: url("img/avatar.jpg");
      background-size: 80vw;
   }
}
